body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

    ul.topnav li {
        float: left;
    }

        ul.topnav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul.topnav li a:hover:not(.active) {
                background-color: #111;
            }

            ul.topnav li a.active {
                background-color: #333;
            }

        ul.topnav li.right {
            float: right;
        }

@media screen and (max-width: 600px) {

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

.button {
    background-color: #333; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 150px;
}

    .button:hover {
        background-color: grey;
        color: white;
    }

.background-image {
    max-width: 500px;
    height: auto;
    width: auto\9; /* ie8 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Style do button de criar */
.registerbtn {
    background-color: darkred;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .registerbtn:hover {
        opacity: 1;
    }

/* Adiciona cor azul a links */
a {
    color: dodgerblue;
}

/* Mete um background grey e ajusta o texto no "sign in" */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

ul.leftbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.buttonleftbar {
    background-color: lightseagreen; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.buttonleftbar:hover {
        background-color: grey;
        color: white;
}

ul.med {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}


.btnmed {
    background-color: lightskyblue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}


.btnmed:hover {
    background-color: grey;
    color: white;
}



